/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Remove as barras de scroll */
  background-color: black;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/fundo-rpg.jpg'); /* Verifique o caminho da sua imagem */
  background-size: cover; /* Faz a imagem cobrir a tela toda */
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Animação de Fade Suave */
.fade-in {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}